<div ng-controller="admin-controller">
    <div class="index animated fadeInDown slow">
        <h3>Admin</h3>
        <hr />

        <div class="row">
            <div class="col-md-5">
                <center>
                    <div class="form-card">
                        <h6>Areas</h6>
                        <hr />
                        <div class="table-responsive overflow-auto" style="height:500px">
                            <table class="table table-sm table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="info-header">Area</th>
                                        <th class="info-header">Status</th>
                                        <th class="info-header"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="area in areas">
                                        <th class="info-table">{{area.AreaLine}}</th>
                                        <th class="info-table">{{area.Finish}}</th>
                                        <th></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>

