

<div ng-controller="count-controller">

    <div class="index animated fadeInDown slow">
        <h3>Count</h3>
        <hr />

        <div class="row">
            <div class="col-lg-3">
                @* Start selectCountForm *@
                <center>
                    <div class="form-card" ng-show="showSelectCountForm">
                        <h3>Select Count</h3>
                        <form name="selectCountForm">
                            <div class="form-group">
                                <label>Count Type</label>
                                <select class="form-control custom-select" ng-model="countType" name="countType" required>
                                    <option value="Count" selected>First</option>
                                    <option value="Re-Count">Re-Count</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Area/Line</label>
                                <select class="form-control custom-select" ng-model="areaLine" required>
                                    <option selected>CNC</option>
                                    <option value="Composites">Composites</option>
                                    <option value="Decor">Decor</option>
                                    <option value="GABRIELA TRIMMER">GABRIELA TRIMMER</option>
                                    <option value="LUP/Press/CNC">LUP/Press/CNC</option>
                                    <option value="Metals">Metals</option>
                                    <option value="Press">Press</option>
                                    <option value="SAL #1">SAL #1</option>
                                    <option value="SAL #2">SAL #2</option>
                                    <option value="SAL #3">SAL #3</option>
                                    <option value="SAL #5">SAL #5</option>
                                    <option value="SAL #6">SAL #6</option>
                                </select>
                            </div>
                            <center>
                                <button class="btn btn-azul" type="button" ng-click="isAreaClosed(areaLine, countType)" ng-class="{'has error': selectCountForm.$invalid && selectCountForm.countType.$pristine } ">
                                    Start Counting <ion-icon name="md-checkmark">
                                </button>
                            </center>
                        </form>
                    </div>
                </center>
                @* End selectCountForm *@

                @* Start countForm *@
                <center>
                    <div class="form-card" ng-show="showCountForm">
                        <div class="btn-group">
                            <button class="btn btn-rojo" type="button" ng-click="cancelCounting()">Cancel <ion-icon name="close"></button>
                            <button class="btn btn-amarillo" type="button" ng-click="finishCounting(areaLine, countType)">Finish <ion-icon name="md-checkmark"></button>
                        </div>
                        <h3>{{countType}}ing {{areaLine}}</h3>
                        <form name="countForm">
                            <div class="form-group">
                                <label>Order Number</label>
                                <input class="form-control" ng-model="orderNumber">
                            </div>
                            <div class="form-group">
                                <label>Counted</label>
                                <input class="form-control" ng-model="counted">
                            </div>
                            <center>
                                <div class="btn-group">
                                    <button class="btn btn-azul" type="button" ng-click="count(orderNumber, counted, countType, areaLine)">Ok <ion-icon name="return-left"></button>
                                </div>
                            </center>
                        </form>
                    </div>
                </center>
                @* End countForm *@

                @* Start Result Options *@
                <center>
                    <div class="form-card" ng-show="showFinishOptions">
                        <h3>{{countType}} finished</h3>
                        <button class="btn btn-naranja" type="button" ng-click="closeArea(areaLine, countType)">Close Area</button>
                        <button class="btn btn-azul" type="button" ng-click="countAgain()">Count Again</button>
                    </div>
                </center>
                @* End Result Options *@
            </div>

            @* Start Table *@
            <div class="col-lg-9">
                <div class="table-responsive overflow-auto" style="height: 500px;">
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="info-header">Product</th>
                                <th class="info-header">Product Name</th>
                                <th class="info-header">Area/Line</th>
                                <th class="info-header">Order Number</th>
                                <th class="info-header">Ord Qty</th>
                                <th class="info-header">Counted</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in products | filter: search">
                                <th class="info-table">{{product.Product}}</th>
                                <th class="info-table">{{product.ProductName}}</th>
                                <th class="info-table">{{product.AreaLine}}</th>
                                <th class="info-table">{{product.OrderNumber}}</th>
                                <th class="info-table">{{product.OrdQty}}</th>
                                <th class="info-table">{{product.Result}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @* End Table  *@
        </div>
    </div>
</div>


